/* Description */
/*main{
    color: #fff;
    padding: 0 50px;
    height: 20vh;
    display: flex;
    align-items: center;
}

.description{
    position: relative;
    max-width: 600px;
    padding: 40px;
    /* background: rgba(255, 255, 255, .2);
}

.description h2{
    font-size: 48px;
    padding: 0;
    margin: 0 0 20px;
}

.description p{
    font-size: 18px;
    padding: 0;
    margin: 0;
} */

/* All pages */
section {
    padding: 0 40px;
}

/* Homepage */
.HomePage .heading-text, .HomePage .more-text {
    font-size: 50px;
}

.HomePage .more-text {
    margin: 0 0 30px;
}

.HomePage .slogan {
    margin-bottom: 55.1234vh;   
}

.HomePage .small-icon {
    width: 20px;
    float: left;
    padding-right: 20px;
}

.HomePage .temp-box {
    position: absolute;
    top: 200px;
    right: 80px;
    width: 200px;
    height: 120px;
    display: flex;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 10px 30px;
    flex-basis: 100%;
}

.HomePage .main-temp {
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: space-between;
    font-size: 20px;
}

.HomePage .main-temp img {
    width: 50px;
}

.HomePage .sub-temp {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-basis: 100%;
    justify-content: space-between;
}

.HomePage .sub-temp .box3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}

.HomePage .sub-temp .box3 p {
    margin: 5px;
}

.HomePage .sub-temp .box3 img {
    width: 12px;
    margin: 0 auto;
}

.HomePage .temp-box-2 {
    position: absolute;
    top: 355px;
    right: 80px;
    width: 200px;
    height: 120px;
    display: flex;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 10px 30px;
    flex-basis: 100%;
}

.HomePage .main-desc {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.HomePage .main-desc img {
    width: 25px;
}

.HomePage .main-desc h3 {
    padding: 0 0 0 15px;
    margin: 0;
}

.HomePage .temp-box-2 p {
    font-size: 12px;
    margin: 0;
}

/* The Emirates page */

.The_Emirates section {
    display: flex;
    justify-content: space-between;
}

.The_Emirates .heading-text {
    font-size: 50px;
}

.The_Emirates .box {
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.The_Emirates .the-emirates-1 {
    background-color: #FFB370;
}

.The_Emirates .the-emirates-1:hover {
    background-color: #FFA85C;
}

.The_Emirates .the-emirates-2 {
    border: 1px solid white;
    margin-bottom: 30vh;
}

.The_Emirates .famous-spots {
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    flex-wrap: wrap;
}

.The_Emirates .box2 {
    margin: 50px 0 10px;
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    overflow: hidden;
    border-radius: 5px;
    background-color: #2A2B31;
}

.The_Emirates .box2 img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.The_Emirates .box2 p {
    font-size: 0.75rem;
    padding: 2px 20px;
    margin: 5px 0 0;
}

.The_Emirates .box2 p img {
    width: 12px;
    height: 12px;
    padding: 0 2px 0 0;
}

.The_Emirates .side-box {
    display: flex;
    flex-direction: column;
}

.The_Emirates .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.The_Emirates .buttons img {
    padding: 10px 10px 0 0;
    width: 20px;
}

.The_Emirates .buttons button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

.The_Emirates .buttons button:hover {
    background-color: #FFB370;
}

.The_Emirates .buttons button:active {
    background-color: #FFA85C;
    box-shadow: 0 4px #cccccc;
    transform: translateY(4px);
}

/* About US CSS */

.About_Us{
    height: 94vh;
}

.About_Us .Main_Container{
    justify-content: center;
    margin: 5px;
    gap: 15px;
}

/* Flex CSS */
.About_Us .Flex_Container1{
    flex: 3;
}

.About_Us .Flex_Container2{
    flex: 1;
}

.About_Us .Flex_Container3{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.About_Us .Flex_Container3_Sub{
    display: flex;
    gap: 5%;
    margin: 10px 15px;
    width: 250px;
}

.About_Us .Flex_Container{
    padding: 10px 40px;
}
.About_Us .container_row{
    display: flex;
    flex-direction: row;
}
.About_Us .container_Testimonial{
    gap: 5%;
}

.About_Us .container_column{
    display: flex;
    flex-direction: column;
}
/* About_Us Background*/
.About_Us .Banner_About_Us{
    background-size: cover;
    background-image: url(/Resources/Images/Background/About-Us.jpg);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(5px);
}


.About_Us .Paragraph_Hold{
    width: 48%;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.About_Us .Testimonial{
    display: inline;
    position: relative;
    border: solid 1px white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.About_Us .Testimonial .Testimonial_Paragraph{
    margin: 15px 10px;
}

.About_Us .Testimonial_Profiles{
    margin: 10px 5px;
}

.About_Us .Profiles{
    width: 80px;
    height: 80px;
    clip-path: circle();
    object-fit: contain;
    object-position: center center;
}

/* End of About_Us CSS*/

/* Contact US CSS */

.Contact_Us .Main_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Contact_Us .Main_Container .Sub_Container{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.Contact_Us .Sub_Container img{
    width: 15%;
}

.Contact_Us .Sub_Container .btn{
    padding: 3% 3%;
    display: flex;
    text-align: start;
    border: solid white 1px;
    width: 510px;
    height: 105px;
    border-radius: 10px;
}
.Contact_Us .Sub_Container .btn3{
    padding: 3% 3%;
    display: flex;
    text-align: start;
    border: solid white 1px;
    width: 510px;
    height: 105px;
    border-radius: 10px;
}
.Contact_Us .Sub_Container .invisible .btn3 a{
    text-decoration: none;
    margin: 0px 115px;
}
.Contact_Us .Sub_Container .btn:hover,:focus{
    background-color: rgba(0, 0, 0, .2);
}
.Contact_Us .Sub_Container .Invisible{
    border: solid wheat 5px;
}
.Contact_Us .Sub_Container .Invisible button{
    border: none;
}
.Contact_Us .Sub_Container .Invisible img{
    width: 10%;
}
.Contact_Us .Main_Container .Sub_Container1{
    gap: 15%;
}

.Contact_Us .Sub_Container .Sub_Button{
    text-align: start;
    margin: 15px 0px;
}

.Contact_Us .Sub_Container b{
    margin: 4% 5%;
}
.Contact_Us .Flex_Container{
}
/* End of Contact US CSS */

/* ResetPassword and CreateAnAccount similar CSS */
.form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.form input {
    background-color: transparent;
    border-radius: 10px;
    border: #fff solid 1px;
    padding: 10px 15px;
    width: 250px;
}

.form input::placeholder {
    color: #fff;
}

.fact {
    position: absolute;
    top: 245px;
    right: 100px;
}

.fact h3 {
    margin: 0;
}

.orange-button {
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #FFB370;
    border-radius: 13px;
    border: none;
    font-size: 0.75rem;
}

.transparent-button {
    margin: 20px 0;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 13px;
    border: 1px solid #fff;
    font-size: 0.75rem;
}

/* ResetPassword CSS */
.ResetPassword section h1 {
    font-size: 35px;
    margin-bottom: 0;
}

.ResetPassword section p {
    font-size: 13px;
}

.ResetPassword section button {
    margin-bottom: 33vh;
}

/* Create An Account page */

.CreateAnAccount section h1 {
    font-size: 35px;
}

.CreateAnAccount section p {
    font-size: 13px;
}

.CreateAnAccount .right-content {
    width: 327px;
}

.CreateAnAccount .form div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CreateAnAccount .form div>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.CreateAnAccount .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.CreateAnAccount .buttons div {
    display: flex;
    gap: 20px;
}

.CreateAnAccount .buttons div button {
    padding: 5px 20px;
    width: 140px;
    margin: 30px 0 5px;
}

.CreateAnAccount .buttons p {
    font-size: 0.6rem;
    margin: 10px 0 20vh 0;
}

.CreateAnAccount .buttons a:hover {
    color: #FFB370;
}