/* All pages */
section {
    padding: 0 40px;
}

/* Home Button */
.HomeButton{
    text-decoration: none;
    text-emphasis: none;
}
/* Homepage */
.HomePage {
    height: 94vh;
}

.HomePage .heading-text, .HomePage .more-text {
    font-size: 50px;
}

.HomePage .more-text {
    margin: 0 0 30px;
}

.HomePage .small-icon {
    width: 20px;
    float: left;
    padding-right: 20px;
}

.HomePage .temp-box {
    position: absolute;
    top: 200px;
    right: 80px;
    width: 200px;
    height: 120px;
    display: flex;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 10px 30px;
    flex-basis: 100%;
}

.HomePage .main-temp {
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: space-between;
    font-size: 20px;
}

.HomePage .main-temp img {
    width: 50px;
}

.HomePage .sub-temp {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-basis: 100%;
    justify-content: space-between;
}

.HomePage .sub-temp .box3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
}

.HomePage .sub-temp .box3 p {
    margin: 5px;
}

.HomePage .sub-temp .box3 img {
    width: 12px;
    margin: 0 auto;
}

.HomePage .temp-box-2 {
    position: absolute;
    top: 355px;
    right: 80px;
    width: 200px;
    height: 120px;
    display: flex;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 10px 30px;
    flex-basis: 100%;
}

.HomePage .main-desc {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.HomePage .main-desc img {
    width: 25px;
}

.HomePage .main-desc h3 {
    padding: 0 0 0 15px;
    margin: 0;
}

.HomePage .temp-box-2 p {
    font-size: 12px;
    margin: 0;
}

/* The Emirates page */
.The_Emirates {
    height: 94vh;
}

.The_Emirates section {
    display: flex;
    justify-content: space-between;
}

.The_Emirates .heading-text {
    font-size: 50px;
}

.The_Emirates .box {
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    text-decoration: none;
}

.The_Emirates .the-emirates-1 {
    background-color: #FFB370;
}

.The_Emirates .the-emirates-1:hover {
    background-color: #FFA85C;
}

.The_Emirates .the-emirates-2 {
    border: 1px solid white;
    margin-bottom: 30vh;
}

.The_Emirates .famous-spots {
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    flex-wrap: wrap;
}

.The_Emirates .box2 {
    margin: 50px 0 10px;
    width: 490px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    overflow: hidden;
    border-radius: 5px;
    background-color: #2A2B31;
}

.The_Emirates .box2 img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.The_Emirates .box2 p {
    font-size: 1.02rem;
    padding: 2px 20px;
    margin: 5px 0 0;
}

.The_Emirates .box2 p img {
    width: 12px;
    height: 12px;
    padding: 0 2px 0 0;
}

.The_Emirates .side-box {
    display: flex;
    flex-direction: column;
}

.The_Emirates .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.The_Emirates .buttons img {
    padding: 10px 10px 0 0;
    width: 25px;
}

.The_Emirates .buttons button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 20px;
}

.The_Emirates .buttons button:hover {
    background-color: #FFB370;
}

.The_Emirates .buttons button:active {
    background-color: #FFA85C;
    box-shadow: 0 4px #cccccc;
    transform: translateY(4px);
}

/* About US CSS */

.About_Us{
    height: 94vh;
}

.About_Us .Main_Container{
    justify-content: center;
    margin: 5px;
    gap: 15px;
}

/* Flex CSS */
.About_Us .Flex_Container1{
    flex: 3;
}

.About_Us .Flex_Container2{
    flex: 1;
}

.About_Us .Flex_Container3{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.About_Us .Flex_Container3_Sub{
    display: flex;
    gap: 5%;
    margin: 10px 15px;
    width: 250px;
}

.About_Us .Flex_Container{
    padding: 10px 40px;
}
.About_Us .container_row{
    display: flex;
    flex-direction: row;
}
.About_Us .container_Testimonial{
    gap: 5%;
}

.About_Us .container_column{
    display: flex;
    flex-direction: column;
}
/* About_Us Background*/
.About_Us .Banner_About_Us{
    background-size: cover;
    background-image: url(/Resources/Images/Background/About-Us.jpg);
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(5px);
}


.About_Us .Paragraph_Hold{
    width: 48%;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.About_Us .Testimonial{
    display: inline;
    position: relative;
    border: solid 1px white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.About_Us .Testimonial .Testimonial_Paragraph{
    margin: 15px 10px;
}

.About_Us .Testimonial_Profiles{
    margin: 10px 5px;
}

.About_Us .Profiles{
    width: 80px;
    height: 80px;
    clip-path: circle();
    object-fit: contain;
    object-position: center center;
}

/* End of About_Us CSS*/

/* Contact US CSS */

.Contact_Us .Main_Container{
    margin: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80vh;
}

.Contact_Us .Main_Container h1{
    font-size: 64px;
}

.Contact_Us .Main_Container .Sub_Container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.Contact_Us .Sub_Container img{
    width: 15%;
}

.Contact_Us .Sub_Container .btn{
    align-items: center;
    padding-left: 2%;
    font-size: large;
    display: flex;
    text-align: start;
    color: none;
    border: solid white 1px;
    width: 500px;
    height: 105px;
    border-radius: 10px;
}
.Contact_Us .Sub_Container .btn3{
    padding: 3% 3%;
    font-size: larger;
    display: flex;
    text-align: start;
    border: solid white 1px;
    width: 510px;
    height: 105px;
    border-radius: 10px;
}
.Contact_Us .Sub_Container .invisible .btn3 a{
    background-color: none;
    text-decoration: none;
    margin: 0px 115px;
}

.Contact_Us .Sub_Container .btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.Contact_Us .Sub_Container .Invisible button{
    border: none;
}

.Contact_Us .Sub_Container .Invisible img{
    width: 10%;
}

.Contact_Us .Main_Container .Sub_Container1{
    gap: 2%;
}

.Contact_Us .btn1, .btn2,.btn3{
    background-color: transparent;
}

.Contact_Us .Sub_Container .Sub_Button{
    text-align: start;
    margin: 15px 0px;
}

.Contact_Us .Sub_Container b{
    margin: 4% 5%;
}

.Contact_Us .Main_Container .Input_Container{
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    padding: 4% 0% 6% 0%;
    width: 40vw;
    height: 45vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: solid white 1px;
    border-radius: 15px;
}
.Contact_Us .Main_Container .Input_Container h4{
    font-size: x-large;
    align-self: center;
    width: 80%;
}
.Contact_Us .Main_Container .Input_Container form{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.Contact_Us .Main_Container .Input_Container form input,
.Contact_Us .Main_Container .Input_Container form textarea{
    margin: 2% 0%;
    height: 4vh;
    width: 15vw;
    border: solid white 1px;
    color: white;
    text-align: center;
    border-radius: 15px;
    background: transparent;
}
.Contact_Us .Main_Container .Input_Container form input,
.Contact_Us .Main_Container .Input_Container textarea:focus{
    outline: none;
}
::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.Contact_Us .Main_Container .Input_Container textarea{
    padding-top: 2%;
    align-content: flex-start;
    word-wrap:initial;
    width: 100%;
    height: 30vh;
}
/* End of Contact US CSS */

/* ResetPassword and CreateAnAccount similar CSS */
.form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.form input {
    background-color: transparent;
    border-radius: 10px;
    border: #fff solid 1px;
    padding: 10px 15px;
    width: 250px;
}

.form input::placeholder {
    color: #fff;
}

.fact {
    position: absolute;
    top: 245px;
    right: 100px;
}

.fact h1 {
    margin: 0;
}

.fact p i{
    font-size: 20px;
}

.orange-button {
    margin: 20px 0;
    padding: 15px 25px;
    background-color: #FFB370;
    border-radius: 13px;
    border: none;
    font-size: 1.39rem;
}

.transparent-button {
    margin: 20px 0;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 13px;
    border: 1px solid #fff;
    font-size: 1.2rem;
}

/* ResetPassword CSS */
.ResetPassword {
    height: 94vh;
}

.ResetPassword section h1 {
    font-size: 35px;
    margin-bottom: 0;
}

.ResetPassword section p {
    font-size: 13px;
}

.ResetPassword section button {
    margin-bottom: 33vh;
}

/* Create An Account page */
.CreateAnAccount {
    height: 94vh;
}

.CreateAnAccount section h1 {
    font-size: 35px;
}

.CreateAnAccount section p {
    font-size: 13px;
}

.CreateAnAccount .right-content {
    width: 327px;
}

.CreateAnAccount .form div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CreateAnAccount .form div>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.CreateAnAccount .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.CreateAnAccount .buttons div {
    display: flex;
    gap: 20px;
}

.CreateAnAccount .buttons div button {
    padding: 5px 20px;
    width: 140px;
    margin: 30px 0 5px;
}

.CreateAnAccount .buttons p {
    font-size: 0.71rem;
    margin: 10px 10 20vh 10;
}

.CreateAnAccount .buttons a:hover {
    color: #FFB370;
}

/* Destination_Page CSS */

.Destination_Page {
    height: 94vh;
}

.Destination_Page .Main_Container{
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.Destination_Page .Main_Container .Sub_Contain1 button{
    width: 200px;
    height: 120px;
    margin: 2vh 0vw;
    padding: 2vh 0vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2px;
    border-radius: 10px;
}
.Destination_Page .Main_Container .Sub_Contain1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
}
.Destination_Page .Main_Container .Sub_Contain1 a{
    text-decoration: none;
}
.Destination_Page .Main_Container .Flex_Contain2{
    padding-right: 10%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex: 5;
    align-content: flex-end;
}
.Destination_Page .Main_Container .Flex_Contain2 .btn_hold {
    margin-top: 10px;
}
.Destination_Page .Main_Container .Flex_Contain2 .btn_hold img{
    height: 75%;
    width: 75%;
}
.Destination_Page .Main_Container .Flex_Contain2 .btn{
    background: none;
    border: none;
}
.Destination_Page .Main_Container .Flex_Contain1{
    flex: 4;
}
.Destination_Page .Main_Container .Flex_Contain1 .CyD{
    text-align: center;
    width: 40vw;
}
.Destination_Page .Main_Container .Flex_Contain1 h1{
    font-size: 56px;
}
.Destination_Page .Sub_Contain1 img{
    background-color: transparent;
    height: 5vh;
}
.Destination_Page .Destination_Img img{
    border-radius: 15px;
    background-color: transparent;
    object-fit: contain;
    object-position: center center;
    height: 65vh;
    width: 25vw;
}

/* End of Destination_Page CSS */

.Terms_and_Conditions {
    height: 94vh;
}

.Terms_and_Conditions .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.Terms_and_Conditions section h1 {
    font-size: 50px;
    margin: 80px 0 0 0;
}

.Terms_and_Conditions section p {
    font-size: 20px;
    letter-spacing: 5px;
}

/* Overview pages */
.Overview {
    height: 94vh;
}

.Overview section h1 {
    font-size: 50px;
    margin: 80px 0 10px 0;
}

.Overview section p {
    font-size: 20px;
    letter-spacing: 3px;
    width: 500px;
    margin-bottom: 0;
}

.Overview .orange-button {
    border-radius: 5px;
    font-size: 15px;
}

.Overview section .buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.Overview .left-content {
    width: 700px;
    position: absolute;
    top: 165px;
    right: 85px;
}

.Overview .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.Overview .images .item {
    grid-column: 2;
}

.Overview .images img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.Overview .left-content p {
    width: 700px;
    font-size: 15px;
    text-align: right;
}

.Overview .left-content p:hover {
    text-decoration: underline;
}


/* Gallery CSS */
.Gallery .Main_Container{
    padding: 0% 5%;
}
.Gallery .Main_Container .Image_Holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
}
.Gallery .Main_Container .Image_Holder img{
    width: 350px;
    height: 300px;
    margin: 1% 0%;
    background-size: cover;
}
.Gallery .Main_Container .Image_Holder button{
    background:rgb(255, 202, 88);
    border-radius: 5px;
    border-style: none;
    margin: 0% 4%;
    width: 11vw;
    height: 9vh;
}

/* End of Gallery CSS */

/* Pearls of the Emirates */
.PearlsOfTheEmirates section h1 {
    font-size: 35px;
}

.PearlsOfTheEmirates .grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    align-items: baseline;
}

.PearlsOfTheEmirates .grid .information * {
    margin: 0;
    padding: 0;
    width: 380px;
}

.PearlsOfTheEmirates .grid .information h4 * {
    font-weight: normal;
    letter-spacing: 3px;
}

.PearlsOfTheEmirates .grid .information p {
    margin: 5px 0 0;
}

.PearlsOfTheEmirates .place-1, .PearlsOfTheEmirates .place-2 {
    display: flex;
    flex-direction: column;
}

.PearlsOfTheEmirates section img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.PearlsOfTheEmirates .place-1 > div, .PearlsOfTheEmirates .place-2 > div {
    width: 500px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.PearlsOfTheEmirates .place-1 > div button, .PearlsOfTheEmirates .place-2 > div button {
    padding: 10px 20px;
    border: none;
    background-color: #FFB370;
    border-radius: 20px;
}

.PearlsOfTheEmirates .place-1 > div button:hover, .PearlsOfTheEmirates .place-2 > div button:hover {
    background-color: #FFA85C;
}

.PearlsOfTheEmirates .grid > button {
    width: 180px;
    height: 80px;
    padding: 10px 40px;
    margin-left: 80px;
    border: none;
    background-color: #FFB370;
    border-radius: 10px;
    font-size: 18px;
    align-self: center;
}

.PearlsOfTheEmirates .grid > button:hover {
    background-color: #FFA85C;
}

/* Tourist/Location Spots */
.tourist-spot h1.title{
    font-size: 50px;
    font-weight: 600;
}

.tourist-spot h3.sub-title{
    font-size: 30px;
    font-weight: 100;
}

section.tourist-roster{
    display: flex;
}

section.tourist-roster div.description{
    padding: 0 50px;
    flex: 1;
}

section.tourist-roster div.description p.chronicle{
    margin: 20px 0;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    word-spacing: 10px;
}

section.tourist-roster div.side-box{
    flex: 2;
}

section.tourist-roster div.tourist-gallery img{
    width: 31.9%;
    box-shadow: 5px 5px 9px #2A2B31;
}

.tourist-spot button.see-button{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 20px;
    margin-left: 14vw;
}

section.tourist-roster div.tourist-mapping{
    margin-left: 790px;
}

section.tourist-roster div.tourist-mapping img{
    width: 89%;
    box-shadow: 5px 5px 9px #2A2B31;
}

.tourist-spot button.see-button a{
    text-decoration: none;
}

.tourist-spot div.mapping img{
    width: 20%;
    box-shadow: 5px 5px 10px #2A2B31;
    border-radius: 10px;
}

.tourist-spot .left-content {
    width: 700px;
    position: absolute;
    top: 165px;
    right: 85px;
}

.tourist-spot .left-content p {
    width: 700px;
    font-size: 15px;
    text-align: right;
}

.tourist-spot .left-content p:hover {
    text-decoration: underline;
}

.tourist-spot .side-box{
    display: flex;
    flex-direction: column;
}

section.tourist-roster h3.sub-title{
    font-size: 35px;
}

section.tourist-roster h3.sub-text{
    font-size: 20px;
    font-weight: 100;
}