/* The navigation for the footer */

footer {
    font-size: 16px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    opacity: .8;
    align-items: center;
    height: 65px;
}

footer ul {
    padding: 0;
    display: flex;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    padding: 0 35px 0 0;
}

footer a:hover{
    color: rgb(122, 142, 146);
}