/* The navigation for the footer */

footer {
    font-size: 16px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    opacity: 0.6;
    height: 65px;
}

footer > div {
    display: flex;
    align-self: center;
}

footer ul {
    padding: 0;
    display: flex;
}

footer a {
    text-decoration: none;
    padding: 0 35px 0 0;
}