/* Account Button  
.accnt-btn{
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 4px;
    justify-content: center;
}

.accnt-btn:hover{
    background-color: #000000;
}
/* Drop Down Menu

.drop-down{
    color: #fff;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

.drop-down ul li{
    list-style: none;
    padding: 1em;
    display: none;
}

.drop-down a{
    text-decoration: none;
    color: #fff;
    font: 50px;
}*/

/* New */
header {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

header > div {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 17.98px;
}

button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    height: 40px;
    width: 160px;
    font-size: 20px;
}

header ul {
    padding: 0 0 0 20px;
}

li {
    list-style-type: none;
}

/* Button properties */

.container a {
    color: white;
    text-decoration: none;
    float: left;
    display: block; 
    font-size: 30px;
    text-align: center;
    display: none;
}

.container a.icon {
    float: right;
    display: block;
}

.container.res {
    position: relative;
}
.container.res .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.container.res a {
    float: none;
    display: block;
    text-align: left;
}

