/* Imports */
@import url("Footer.CSS");
@import url("Header.CSS");
@import url("Body.css");
@import url("background.css");

* {
    font-family: "Helvetica", sans-serif;
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

.HomePage {
    background: #ffffff url("../Resources/Images/Background/Homepage-Background.jpg") no-repeat;
    background-size: cover;
}

/* Background for each webpage */
.The_Emirates{
    background: url("../Resources/Images/Background/The-Emirates-Bg.jpg") no-repeat;
    background-size: cover;
}

/* Background Blur */
.HomePage.overlay{
    filter: blur(10px);
    -webkit-filter: blur(10px);
}



/* .Gallery{
    background: url("../Resources/Images/Background/Gallery-Bg.jpg") no-repeat;
    background-size: 100%;
} */

/* 

Primary Colors:
- #fff
- #2A2B31
- #2A2B31

Secondary Color:
- #2A2B31

Brand Color:
- #FFB370

*/

/* Fa Icons */
/* .fas{
    font-size: 50px;
}

*{
    font-family: "Helvetica", sans-serif;
    margin: 0; 
}

h2{
    color: #fff;
} */

/* Setting the background color of the body only */
/* body{
    background-color: #a2a2a2; 
} */

/* Background Images */
/* .banner{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

main .The_Emirates .banner{
    background-image: url(/Resources/Images/Background/The-Emirates-Bg.jpg);
}

main .Destination_Page .banner{
    background-image: url(/Resources/Images/Background/Choose-Destination.jpg);
}

main .Gallary .banner{
    background-image: url(/Resources/Images/Background/Gallery-BG.jpg);
}

main .Contact_Us .banner{
    background-image: url(/Resources/Images/Background/Contact-Us.jpg);
}

main .About_Us .banner{
    background-image: url(/Resources/Images/Background/About-Us.jpg);
}

main .HomePage .banner{
    background-image: url(/Resources/Images/Background/Homepage-Background.jpg);
} */

/* 
main .HomePage .Pearls_of_Emirate{
    background-image: url(/Resources/Images/Background/);
} */


/* Main Contents */

    /* this is to help separate CSS styles throughout different pages
    so always add .{NAME OF CLASS} when making CSS changes         */
    /* AboutUs.html */


    /* ContactUs.html */
    
    
    /* DestinationPage.html */
    
    
    /* ForgotPassword.html */
    
    
    /* HomePage.html */
    
    
    /* Main.html */
    
    
    /* My_Acount.html */
    
    
    /* Pearls_of_Emirate.html */
    
    
    /* ResetPassword.html */
    
    
    /* Signin.html */
    
    
    /* Templatepage.html */
    
    
    /* Terms&Conditions.html */
    
    
    /* The_Emirates.html */
    
    
    /* Main.html */
    
    
    /* Gallery.html */
    
    