/* 
Primary Colors:
- #fff
- #2A2B31
- #2A2B31

Secondary Color:
- #2A2B31

Brand Color:
- #FFB370
*/

*{
    font-family: "Helvetica", sans-serif;
    color: #fff;
}

.main-bg{
    filter: blur(5px);
    width: 100%;
}

footer{
    background-color: #2A2B31;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
