.HomePage .Banner-HomePage {
  background-image: url(/Resources/Images/Background/Homepage-Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.The_Emirates .Banner-Emirates {
  background-image: url(/Resources/Images/Background/The-Emirates-Bg.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Destination_Page .Banner-Destination {
  background-image: url(/Resources/Images/Background/Choose-Destination.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.About_Us .Banner_About_Us {
  background-image: url(/Resources/Images/Background/About-Us.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.ResetPassword .Banner-ResetPassword {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.CreateAnAccount .Banner-CreateAnAccount {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Terms_and_Conditions .Banner-Terms_and_Conditions {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Contact_Us .Banner-Contacts {
  background-image: url(/Resources/Images/Background/Contact-Us.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Gallery .Banner-Gallery {
  background-image: url(/Resources/Images/Background/Gallery-BG.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
  background-size: auto;
  background-repeat: repeat-y;
  -o-object-fit: fill;
     object-fit: fill;
  height: 580%;
}

.Overview .Banner-Dubai_Overview {
  background-image: url(/Resources/Images/Blur-Background/Emirate-Desc-Bg.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-Sharjah_Overview {
  background-image: url(/Resources/Images/Background/Gallery-Sharjah_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-AbuDhabi_Overview {
  background-image: url(/Resources/Images/Background/Gallery-AbuDhabi_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-Ajman_Overview {
  background-image: url(/Resources/Images/Background/Gallery-Ajman_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-Fujairah_Overview {
  background-image: url(/Resources/Images/Background/Gallery-Fujairah_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-RasAlKhaimah_Overview {
  background-image: url(/Resources/Images/Background/Gallery-RasAlKhaimah_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Overview .Banner-UmmAlQuwain_Overview {
  background-image: url(/Resources/Images/Background/Gallery-UmmAlQuwain_Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Dubai_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Blur-Background/pearls-of-dubai.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Abu_Dhabi_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Qasr_Al-Hosn/QAH.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Sharjah_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Gallery/Sharjah/Al-Noor-Mosque2.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Ajman_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Gallery/Ajman/Wasit-Wetland-Center1.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Fujairah_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Gallery/Fujairah/al-rabi-tower-main.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.PearlsOfTheEmirates .Banner-Ras_Al_Khaimah_PearlsOfTheEmirates {
  background-image: url(/Resources/Images/Gallery/RAK/jebel-jais.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Dubai_Mall .Banner-Dubai-Mall {
  background-image: url(/Resources/Images/Gallery/Dubai/Dubai-Mall.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Mall_Of_Emirates .Banner-Mall-Of-Emirates {
  background-image: url(/Resources/Images/Gallery/Dubai/Mall-of-Emirates.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Dubai_Canal .Banner-Dubai-Canal {
  background-image: url(/Resources/Images/Gallery/Dubai/Dubai-Canal.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Burj_Khalifa .Banner-Burj-Khalifa {
  background-image: url(/Resources/Images/Gallery/Dubai/Dubai-Canal.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Burj_Al_Arab .Banner-Burj-Al-Arab {
  background-image: url(/Resources/Images/Gallery/Dubai/Burj-Al-Arab.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Qasr_Al_Hosan .Banner-Qasr-Al-Hosan {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Qasr_Al-Hosn/QAH.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Formula_Rosa .Banner-Formula-Rosa {
  background-image: url(/Resources/Images/Gallery/Gallery-Content3-AbuDhabi.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Louvre .Banner-Louvre {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Louvre/Louvre1.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.TheEmiratesPalace .Banner-Emirates-Palace {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Emirates_Palace/Emirates_Palace.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Yas_Marina_West_Circuit .Banner-Yas-Marina {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Yas_Marina_West_Circuit/YMC.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Warner_Bros .Banner-Warner-Bros {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Warner_Bros/WB.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Yas_Water_Park .Banner-Yas-Water-Park {
  background-image: url(/Resources/Images/Gallery/Abu_Dhabi/Yas_WaterPark/YWP.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Ajman_Museum .Banner-Ajman-Museum {
  background-image: url(/Resources/Images/Gallery/Ajman/ajman-museum.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Natural_Reserve .Banner-Al-Zorah-Natural-Reserve {
  background-image: url(/Resources/Images/Gallery/Ajman/Al-Zorah-Natural-Reserve.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Wast_Wetland_Center .Banner-Wast-Wetland-Center {
  background-image: url(/Resources/Images/Gallery/Ajman/Wasit-Wetland-Center1.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Biyah_Mosque_in_Fujairah .Banner-Fujairah-Mosque {
  background-image: url(/Resources/Images/Gallery/Fujairah/Al-Bidyah-Mosque-in-Fujairah.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Hayl_Castle_Fujairah .Banner-Al-Hayl-Castle-Fujairah {
  background-image: url(/Resources/Images/Gallery/Fujairah/al-hayl-castle-fujairah.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Rabi_Tower_Main .Banner-Al-Rabi-Tower-Main {
  background-image: url(/Resources/Images/Gallery/Fujairah/al-rabi-tower-main.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Fujairah_Fort .Banner-Al-Fujairah-Fort {
  background-image: url(/Resources/Images/Gallery/Fujairah/Fujairah-Fort.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Sheikh_Zayed_Mosque_Fujaira .Banner-Sheikh-Zayed-Mosque-Fujaira {
  background-image: url(/Resources/Images/Gallery/Fujairah/sheikh-Zayed-Mosque-Fujairah.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Jazirah_Al_Hamra .Banner-Jazirah-Al-Hamra {
  background-image: url(/Resources/Images/Gallery/RAK/jazirah-al-hamra.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Jebel_Jais .Banner-Jebel-Jais {
  background-image: url(/Resources/Images/Gallery/RAK/jebel-jais.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.National_Museum_of_Ras_Al_Khaimah .Banner-National-Museum-RAK {
  background-image: url(/Resources/Images/Gallery/RAK/National-Museum-of-Ras-Al-Khaimah.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Suwaidi_Pealr .Banner-Suwaidi-Peal {
  background-image: url(/Resources/Images/Gallery/RAK/Suwaidi-Pearl.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Sharjah_Museum_Of_Islamic_Civilization .Banner-Sharjah-Museum-Of-Islamic-Civilization {
  background-image: url(/Resources/Images/Gallery/Sharjah/Sharjah-Museum-of-Islamic-Civilization.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Noor_Island .Banner-Al-Noor-Island {
  background-image: url(/Resources/Images/Gallery/Sharjah/Al-Noor-Island2.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Noor_Mosque .Banner-Al-Noor-Mosque {
  background-image: url(/Resources/Images/Gallery/Sharjah/Al-Noor-Mosque.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Al_Ali_Fort .Banner-Al_Ali_Fort {
  background-image: url(/Resources/Images/Gallery/UAQ/Al-Ali-Fort.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.UAQ_National_Museum .Banner-UAQ-National-Museum {
  background-image: url(/Resources/Images/Gallery/UAQ/Umm-Al-Quwain-National-Museum.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.Bassata_Desert_Village .Banner-Bassata-Desert-Village {
  background-image: url(/Resources/Images/Gallery/UAQ/Bassata-Desert-Village.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}

.UAQ_Beach .Banner-UAQ-Beach {
  background-image: url(/Resources/Images/Gallery/UAQ/UAQ-beach.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px) brightness(0.832);
          filter: blur(20px) brightness(0.832);
  background: cover;
  background-color: #2A2B31;
}
/*# sourceMappingURL=background.css.map */