.HomePage .Banner-HomePage {
  background-image: url(/Resources/Images/Background/Homepage-Background.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.The_Emirates .Banner-Emirates {
  background-image: url(/Resources/Images/Background/The-Emirates-Bg.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.Destination_Page .Banner-Destination {
  background-image: url(/Resources/Images/Background/Destination-picture.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.About_Us .Banner_About_Us {
  background-image: url(/Resources/Images/Background/About-Us.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.ResetPassword .Banner-ResetPassword {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.CreateAnAccount .Banner-CreateAnAccount {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.Terms_and_Conditions .Banner-Terms_and_Conditions {
  background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.Contact_Us .Banner-Contacts {
  background-image: url(/Resources/Images/Background/Contact-Us.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}

.Gallery .Banner-Gallery {
  background-image: url(/Resources/Images/Background/Gallery-BG.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: cover;
  background-color: #2A2B31;
}
/*# sourceMappingURL=background.css.map */