@mixin Website_Banners {
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(2px);
    background: cover;
    background-color: #2A2B31;
}


// Setting the Background image in the 'HomePage' webpage while having a blur effect
.HomePage .Banner-HomePage{
    background-image: url(/Resources/Images/Background/Homepage-Background.jpg);
    @include Website_Banners();
}

// Setting the Background image in the 'The Emirates' webpage while having a blur effect
.The_Emirates .Banner-Emirates{
    background-image: url(/Resources/Images/Background/The-Emirates-Bg.jpg);
    @include Website_Banners();
}

// Setting the Background image in the 'Destination' webpage while having a blur effect
.Destination_Page .Banner-Destination{
    background-image: url(/Resources/Images/Background/Destination-picture.jpg);
    @include Website_Banners();
}

// Setting the Background image in the 'About Us' webpage while having a blur effect
.About_Us .Banner_About_Us{
    background-image: url(/Resources/Images/Background/About-Us.jpg);
    @include Website_Banners();
}

// Setting the Background image in the 'Reset Password' webpage while having a blur effect
.ResetPassword .Banner-ResetPassword {
    background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
    @include Website_Banners();
}

// Setting the Background image in the 'Create An Account' webpage while having a blur effect
.CreateAnAccount .Banner-CreateAnAccount {
    background-image: url(/Resources/Images/Blur-Background/mikk-tonissoo-PWf-Dr2qpOo-unsplash.jpg);
    @include Website_Banners();
}

.Contact_Us .Banner-Contacts{
    background-image: url(/Resources/Images/Background/Contact-Us.jpg);
    @include Website_Banners();
}

.Gallery .Banner-Gallery{
    background-image: url(/Resources/Images/Background/Gallery-BG.jpg);
    @include Website_Banners();
}